<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADUserTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADUserTransfer.Properties.Settings>
            <setting name="DomainName" serializeAs="String">
                <value>10.8.3.249</value>
            </setting>
            <setting name="ADUser" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="ADPassword" serializeAs="String">
                <value>11235813@a</value>
            </setting>
        </ADUserTransfer.Properties.Settings>
    </userSettings>
</configuration>